*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
    text-align:center;
}

header{
    padding:80px 20px;
    background:linear-gradient(180deg,#111,#000);
}

h1{
    font-size:60px;
    color:#ff2e2e;
    text-shadow:0 0 20px red;
}

p{
    margin-top:15px;
    font-size:22px;
    color:#ddd;
}

button{
    margin-top:30px;
    padding:15px 40px;
    border:none;
    border-radius:10px;
    background:#ff2e2e;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#ff0000;
    transform:scale(1.08);
    box-shadow:0 0 25px red;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#111;
    border-bottom:2px solid red;
}

.logo{
    color:#ff2e2e;
    font-size:30px;
    font-weight:bold;
    text-shadow:0 0 10px red;
}
.menu{
    list-style:none;
    display:flex;
    gap:25px;
}

.menu li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.menu li a:hover{
    color:#ff2e2e;
    text-shadow:0 0 10px red;
}
